<h1 class= "m-4"><%= @user.username %></h1>

<%# gravatar_for is defined in app/helpers/application_helper.rb %>
<%= gravatar_for @user, size: 200 %>

<div class= "text-center mt-4">
  <% if @user == current_user %>
    <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-info" %>
  <% end %>
</div>

<h3 class= "text-center mt-4">Articles</h3>

<div class="m-4">
  <%= will_paginate @articles %>
</div>

<div class="container">
  <% @articles.each do |art| %>
    <%= render "articles/article", article: art, header: false, trunc_body: false %>
  <% end %>
</div>

<div class="m-4">
  <%= will_paginate @articles %>
</div>